/* RESET */

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: #fff;
}

/* GENERAL */

.squared-icon {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

/* ASIDE NAVBAR */

.personal-container .square-gray {
  background-color: #b3b3b3;
  color: #2c2c2c;
}

.personal-container .square-gradient {
  background: rgb(59, 28, 167);
  background: linear-gradient(
    156deg,
    rgba(59, 28, 167, 1) 39%,
    rgba(179, 179, 179, 1) 99%
  );
  color: #b3b3b3;
}

.personal-container .square-green {
  color: #129643;
  background-color: #004537;
}

.personal-container h3,
nav h3 {
  font-size: 1.4em;
}

.friends {
    font-size: 12px;
}

/* MAIN */

/* ASIDE FRIENDS */

/* FOOTER */
